<div class="register">
    <div class="register-title">Cadastro de Cliente</div>
    <form 
        class="register-form"
        (ngSubmit)="submit()" 
        [formGroup]="userForm" 
        #formDir="ngForm">
        <div class="register-form-float-container">
            <label>Nome: </label>
            <input 
                type="text" 
                formControlName="name"
                required>
        </div>
        <div class="register-form-float-container">
            <label>CPF: </label>
            <input 
                mask="000.000.000-00"
                type="text" 
                formControlName="cpf"
                required>
        </div>
        <div class="register-form-float-container">
            <label>Data de Nascimento: </label>
            <input 
                mask="d0/M0/0000"
                id="dateOfBirth"
                type="text" 
                formControlName="dateOfBirth"
                required>
        </div>
        <div class="register-form-float-container">
            <label>Renda Mensal: </label>
            <input 
                mask="separator.2"
                thousandSeparator="."
                separatorLimit="1000000"
                type="text" 
                formControlName="monthlyIncome"
                required>
        </div>
        <div class="register-form-float-container">
            <label>E-mail: </label>
            <input 
                type="text" 
                formControlName="email"
                required>
        </div>
        <div *ngIf="isAddMode" class="register-form-action">
            <input type="submit">
        </div>
        <div *ngIf="!isAddMode" class="register-form-action">
            <button type="button" (click)="backToList()">Voltar</button>
            <input type="submit">
        </div>
    </form>
</div>
